/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  background-color: #1A0B2E;
}

/* Font */
.inter-font {
  font-family: "Inter", sans-serif;
}

/* Buttons */
.btn {
  font-size: 1rem;
  font-weight: 500;
  padding: 12px 20px;
  background: linear-gradient(45deg, #f7e93f, #fb09b4, #9100f8);
  color: #fff;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
}

.btn-2 {
  font-size: 1rem;
  font-weight: 500;
  padding: 12px 20px;
  background: transparent;
  color: #00ff88;
  border: 2px solid #00ff88;
  border-radius: 9999px;
  cursor: pointer;
}

/* Header */
.bg {
  background-color: #1A0B2E;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin: auto;
  padding: 16px 0;
}

.menu {
  display: flex;
  gap: 32px;
  list-style: none;
}

.menu a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

#logo h1 {
  color: white;
  font-size: 1.75rem;
}

#logo span {
  background: linear-gradient(to top, #f7e93f, #fb09b4, #9100f8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

hr {
  border: 0.5px solid rgba(255, 255, 255, 0.1);
}

/* Hero Section */
#hero {
  #hero {
  background-image: url("../assets/hero-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

}

.hero-container {
  width: 75%;
  margin: auto;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;
  color: white;
}

/* Image Stack */
.image-box {
  position: relative;
  width: 80%;
  max-width: 300px;
}


.bg-img {
  width: 100%;
  display: block;
}

.center-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  max-width: 100px;
}

/* Hero Text */
.hero-text h1 {
  font-size: 3.75rem;
  font-weight: 800;
  margin-bottom: 8px;
}

.hero-text p {
  font-size: 1rem;
  max-width: 500px;
  margin-bottom: 24px;
  color: rgba(255, 255, 255, 0.637);
}

/* Buttons group */
.hero-btns {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
}

/* Responsive */

/* Mobile */
@media (max-width: 576px) {
  nav {
    width: 90%;
  }

  .menu,
  nav button {
    display: none;
  }

  .hero-container {
    width: 90%;
    padding: 60px 0;
  }
}

/* Tablet */
@media (min-width: 577px) and (max-width: 992px) {
  .hero-container {
    width: 85%;
  }

  .nav-icon {
    display: none;
  }
}

/* Desktop */
@media (min-width: 993px) {
  .nav-icon {
    display: none;
  }
}
