/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  color: white;
}

/* Font */
.inter-font {
  font-family: "Inter", sans-serif;
}
/* shared style */
/* Buttons */
.btn {
  font-size: 1rem;
  font-weight: 500;
  padding: 12px 20px;
  background: linear-gradient(45deg, #f7e93f, #fb09b4, #9100f8);
  color: #fff;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
}

.btn-2 {
  font-size: 1rem;
  font-weight: 500;
  padding: 12px 20px;
  background: transparent;
  color: #00ff88;
  border: 2px solid #00ff88;
  border-radius: 9999px;
  cursor: pointer;
}
.btn:hover{
  background: linear-gradient(135deg, #f7e93f, #fb09b4, #9100f8);
  transform: scale(1.1);
}
.btn-2:hover{
  background:  linear-gradient(45deg, #f7e93f, #fb09b4, #9100f8);
  border: none;
  transform: scale(1.1);
  color: #00ff88;
}
.bg {
  background-color: #1A0B2E;
}
.bg-2{
  background-color: #230E3D;
}


/* Header */

.menu a:hover{
  background: linear-gradient(45deg, #f7e93f, #fb09b4, #9100f8);
  color: white;
  padding: 10px;
  border-radius: 10px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
  margin: auto;
  padding: 16px 0;
}

.menu {
  display: flex;
  gap: 32px;
  list-style: none;
}

.menu a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.logo h1 {
  color: white;
  font-size: 1.75rem;
}

.logo span {
  background: linear-gradient(to top, #f7e93f, #fb09b4, #9100f8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

hr {
  border: 0.5px solid rgba(255, 255, 255, 0.1);
}

/* Hero Section */

#hero {
  width: 100%;
  background-image: url(../assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.hero-container {
  width: 75%;
  margin: auto;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;
  color: white;
}

.image-box {
  position: relative;
  width: 80%;
  max-width: 300px;
}


.bg-img {
  width: 100%;
  display: block;
}

.center-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  max-width: 100px;
}
@keyframes animate{
            from{
                scale: 0.9;
            }
            to{
              scale: 1;
            }
        }
.new{
  background-color: #00ff88;
  width: 70px;
  font-size: 1.125rem;
  font-weight: 600;
  color: #1A0B2E;
  border-radius: 10px;
  padding: 5px;
  position: absolute;
  top: 20px;
  right:-3px;
  box-shadow: 0px 0px 10px #00ff88;
  animation: animate 1s ease-in-out 1s infinite alternate;
}


.hero-text h1{
  font-size: 3.75rem;
  font-weight: 800;
  margin-bottom: 8px;
}

.hero-text p {
  font-size: 1rem;
  max-width: 500px;
  margin-bottom: 24px;
  color: rgba(255, 255, 255, 0.637);
}

.hero-btns {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
}
/* About Section Style */
#about{
  width: 100%;
}

#about .about-container {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    
}
.about-content{
  margin: 0 auto;
  width: 100%;
}
.about-content h2{
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 16px;
}
.about-content p{
  font-size: 1rem;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.80);
}
.about-container hr{
  margin: 80px 0;
}
.about-info{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 80px;
  justify-content:space-around;
  padding-bottom: 120px;
}
.info-card h1{
  color: #00ff88;
  font-size: 3rem;
  font-weight: 900;
}
.info-card p{
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color:rgba(255, 255, 255, 0.80);
}

/* Benefit Grid section Style */
.benefit-container{
  width: 75%;
  margin: 0 auto;
  padding: 120px 0;
}
.benefit-container h2{
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 40px;
}

.card{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.card-info{
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  padding: 40px;
  align-content: center;

}
.big-layout{
    grid-column: span 2;
    grid-row: span 1;
  }
.mid-layout{
    grid-column: span 1;
    grid-row: span 2;
  }

.small-layout{
  grid-column: span 1;
  grid-row: span 1;
}
.card-info h5{
  font-size: 1.5rem;
  font-weight:800;
  margin: 16px 0;
}
.card-info p{
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.60);
  line-height: 24px;
}

/* Featured Episodes Section Style */
.featured-card-info:hover{
  transform: scale(1.2);
}
.featured-container{
  max-width: 1200px;
  width: 75%;
  margin: 0 auto;
  padding: 120px 0;
}
.featured-card{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.featured-card-info a{
  text-decoration: none;
  color: white;
}

.featured-card-info{
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
  align-content: center;
  overflow: hidden;
}
.card-text-content{
  padding: 24px;
}
.featured-container h2{
  text-align: center;
  font-size: 3rem;
  margin-bottom: 40px;
}

.card-text-content h4{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 12px;
}
.card-text-content p{
  color: rgba(255, 255, 255, 0.60);
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 12px;
}
.card-text-content .time{
  display: flex;
  gap: 15px;
}
.card-text-content .time p{
  color: #00ff88;
}




/* meet the host section style */
.meet-host-container{
  padding-bottom: 120px;
}
.meet-host-container h2{
  text-align: center;
  margin-bottom: 40px;
  font-size: 3rem;
  font-weight: bold;
}
.host-card{
  width: 75%;
  max-width: 1600px;
  background-color: #35116570;
  margin: 0 auto;
  border-radius: 40px;
  padding: 40px;
  display: flex;
  align-items:center;
  justify-content: center;
  gap: 24px;
}

.host-info h3{
  font-size: 2rem;
  font-weight: bold;

  margin-bottom: 16px;
}
.host-info p{
  font-size: 1rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.60);
  line-height: 24px;
  margin-bottom: 16px;
}

.host-icons{
  display: flex;
  gap: 24px;
}
.host-card .circle{
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 1px solid #533C72;
    display: inline-block;
    border-radius: 50px;
}
.circle img{
    padding: 20px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}
.host-icons .circle:hover{
    background-color: rgba(109, 10, 190, 0.395);
  }


/* footer section related style */
.footer{
  background-image: url(../assets/footer-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px;
}
.footer-container{
  text-align: center;
  margin: 0 auto;
  max-width: 1360px;
}
.social-icons{
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 800px;
  justify-items: center;
  align-items: center;
}
.icon-info a{
  display: flex;
  gap: 8px;
}
.footer-container .logo h1{
  font-size: 3.75rem;
  font-weight: bold;
  margin-bottom: 32px;
}
.icon-info p, .copyright{
  color: rgba(255, 255, 255, 0.60);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 32px;
}
.icon-info a ,p{
  text-decoration: none;
  cursor: pointer;
}









/* Responsive */

/* Mobile */
@media screen and (max-width: 576px){
  nav{
    width: 90%;
  }

  .menu,
  nav button {
    display: none;
  }
  #hero {
    background-position: center;
    background-size: 900px 700px;
  }
  
  .hero-container {
    width: 90%;
    padding: 60px 0;
  }
  #about .about-container {
    width: 90%;
  }
  .about-content h2{
    font-size: 2.5rem;
  }
  .about-info{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 0 auto;
  }
  .benefit-container h2{
    font-size: 2.5rem;
  }
  .benefit-container {
    width: 90%;
  }
  
  .benefit-container .card{
    grid-template-columns: repeat(1, 1fr);
  }
  .big-layout, .mid-layout, .small-layout{
    grid-column: span 1;
    grid-row: span 1;
  }
  .featured-container{
    width: 90%;
  }
  .featured-card{
    grid-template-columns: repeat(1, 1fr);
  }
  .host-card{
    display: block;
    text-align: center;
    width: 90%;
  }
  .host-icons{
    justify-content: center;
  }

  .footer{
    background-size: 150% 100%;
    padding: 40px 20px;
  }
  
  .footer-container .logo h1{
    font-size: 3.75rem;
  }
  .footer-container .social-icons{
    width: 60%;
    margin: 0 auto;
    gap: 16px;
    align-items: center;
  }
  .social-icons{
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-content: center;
  }
  .info-card h1{
    font-size: 2rem;
  }
}



/* Tablet */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .hero-container {
    width: 85%;
  }

  .nav-icon {
    display: none;
  }
  .about-info{
    grid-template-columns: repeat(2, 1fr);
  }
  .benefit-container .card{
    grid-template-columns: repeat(2, 1fr);
  }
  .big-layout, .mid-layout, .small-layout{
    grid-column: span 2;
    grid-row: span 2;
  }
  .featured-card{
    grid-template-columns: repeat(1, 1fr);
  }
  .host-card{
    display: block;
    text-align: center;
  }
  .host-icons{
    justify-content: center;
  }

  .footer{
    background-size: 170% 100%;
    padding: 40px 20px;
  }
  
  .footer-container .logo h1{
    font-size: 3.75rem;
  }
  .footer-container .social-icons{
    width: 60%;
    margin: 0 auto;
    gap: 16px;
    align-items: center;
  }
  .social-icons{
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-content: center;
  }

}

/* Desktop */
@media screen and (min-width: 993px) {
  .nav-icon {
    display: none;
  }
}
